<div class="navbar-wagon">
  <!-- Logo -->
  <a href="/" class="navbar-wagon-brand">
    <img src="images/logo.png" alt="logo">
  </a>

  <!-- Right Navigation -->
  <div class="navbar-wagon-right hidden-xs hidden-sm">

    <a href="" class="navbar-wagon-item navbar-wagon-link">Projects</a>
    <a href="" class="navbar-wagon-item navbar-wagon-link">Websites</a>
    <a href="" class="navbar-wagon-item navbar-wagon-link">Contact</a>


  </div>

  <!-- Dropdown appearing on mobile only -->
  <div class="navbar-wagon-item hidden-md hidden-lg">
    <div class="dropdown">
      <i class="fas fa-bars dropdown-toggle" data-toggle="dropdown" role="button"></i>
      <ul class="dropdown-menu dropdown-menu-right navbar-wagon-dropdown-menu">
        <li><a href="#">Projects</a></li>
        <li><a href="#">Websites</a></li>
        <li><a href="#">Contact</a></li>
      </ul>
    </div>
  </div>
</div>

