<div class="navbar-wagas">
  <!-- Logo -->
  <a href="/" class="navbar-wagas-brand">
    <img src="http://res.cloudinary.com/dsvnlo5ja/image/upload/v1544534829/logo_cym.png" alt="logo" >
  </a>

  <!-- Right Navigation -->
  <div class="navbar-wagas-right hidden-xs hidden-sm">

    <a href="../artwork.html" class="navbar-wagas-item navbar-wagas-link">Projects</a>
    <a href="../photography.html" class="navbar-wagas-item navbar-wagas-link">Photography</a>
    <a href="../contact.html" class="navbar-wagas-item navbar-wagas-link">Contact</a>


  </div>

  <!-- Dropdown appearing on mobile only -->
  <div class="navbar-wagas-item hidden-md hidden-lg">
    <div class="dropdown">
      <i class="fas fa-bars dropdown-toggle" data-toggle="dropdown" role="button"></i>
      <ul class="dropdown-menu dropdown-menu-right navbar-wagas-dropdown-menu">
        <li><a href="../artwork.html">Projects</a></li>
        <li><a href="../photography.html">Photography</a></li>
        <li><a href="#">Contact</a></li>
      </ul>
    </div>
  </div>
</div>
