.home-banner {
  display:flex;
  background-size: cover;
  background-position: center;
  opacity: 0.9;
  height: 100vh;
  width: 100vw;
  text-align: center;
  color: #eee;
  justify-content: space-around;
  align-items: center;
  background-color: #f88379;
}

.stuff {
  justify-content: center;
  padding: 30px;
  text-align: left;
}

.stuff h1 {
  font-family: Rubik;
  font-weight: 700;
  font-size: 100px;
}

#face-image {
  width: 300px;
  height: 300px;
}

// === Variables =====
$perspective:     60rem;
$font-size:       4.25rem;
$split-position:  49%;
$split-thickness: 4px;
$split-color:     #FF2C75;

// === Settings =====
%font-settings {
  font-family: "Gilroy ExtraBold", system-ui, sans-serif;
  font-style: normal;
  font-weight: normal;
  -webkit-font-smoothing: antialiased;
  -webkit-font-kerning: normal;
  -webkit-text-size-adjust: 100%;
}
