.home-banner {
  display:flex;
  background-size: cover;
  background-position: center;
  opacity: 0.9;
  height: 100vh;
  width: 100vw;
  text-align: center;
  color: #eee;
  justify-content: space-around;
  align-items: center;
  background-color: #f88379;
}

.banner-one {
  display:flex;
  background-size: cover;
  background-position: center;
  text-align: center;
  align-items: center;
  height: 100vh;
  width: 100vw;
  background-color: #320A28;
}

.card-left {
  padding: 50px;
}

.card-left img {
  height: 50vh;
  display: flex;
  align-items: center;
}

.card-right {
  text-align: center;
  display: flex;
  align-items:center;
  flex-direction: column;
  padding: 50px;
}

.card-right h2 {
  font-weight: 600;
  color: white;
  align-items: center;
}

.card-right p {
  font-weight: 400;
  color: white;
  align-items: center;
}

.stuff {
  justify-content: center;
  padding: 30px;
  text-align: left;
}

.stuff h1 {
  font-family: Rubik;
  font-weight: 700;
  font-size: 100px;
}

@media (max-width: 700px) {
  .stuff h1 {
   font-size: 30px !important;
   font-family: Rubik;
   font-weight: 700;
  }
}


#face-image {
  width: 300px;
  height: 300px;
}

@media (max-width: 700px) {
  #face-image {
  width: 120px;
  height: 120px;
  margin-right: 20px;
  }
}

// === Variables =====
$perspective:     60rem;
$font-size:       4.25rem;
$split-position:  49%;
$split-thickness: 4px;
$split-color:     #FF2C75;

// === Settings =====
%font-settings {
  font-family: "Gilroy ExtraBold", system-ui, sans-serif;
  font-style: normal;
  font-weight: normal;
  -webkit-font-smoothing: antialiased;
  -webkit-font-kerning: normal;
  -webkit-text-size-adjust: 100%;
}
