#website {
  background-color: white;
  color: #f88379;
  display: flex;
  justify-content: center;
  height: 50vh;
}

#website h1 {
  display: flex;
  text-align: center;
  align-items: center;
  justify-content: center;

}


#photography {
  background-color: #f88379;
  color: white;
  display: flex;
  height: 50vh;
  justify-content: center;
}

#photography h1 {
  display: flex;
  text-align: center;
  align-items: center;
  justify-content: center;

}
