// Import page-specific CSS files here.
@import "home";
@import "about";
@import "artwork";
@import "photography";
@import "contact";



.container-two {
  height:100vh;
  width: 100vw;
}


#card-id-one {
  width:100%;
  background-color: #f88379;
}

#card-id-two {
  background-color: #FFD9CE;
}

#card-id-three {
  background-color: #171738;
}

#card-id-four {
  background-color: #EFE7DA;
}

