// Import page-specific CSS files here.
@import "home";
@import "about";
@import "artwork";
@import "photography";
@import "contact";
@import "website";

 .container-one {
    display: grid;
    grid-template-columns: 1fr 203px 1fr;
    grid-template-rows: 3fr 2fr;
    height: 60vh;

 }

 @media (max-width: 700px) {
  .container-one {
   height: 90vh
  }
}



.grid-one {
  display: flex;
  grid-row: 1 / span 1;
  grid-column: 1 / span 1;
  text-align: center;
  align-items: center;
  justify-content: center;

}

@media (max-width: 700px) {
  .grid-one h2 {
   font-size: 35px !important;
   padding: 20px;

  }
}

.grid-one h2 {
  font-weight: 700;
  font-size: 60px;
}


.grid-two {
  display: flex;
  grid-row: 1/ span 2;
  grid-column: 2 /span 2;
  text-align: center;
  align-items: center;
  justify-content: center;
}



.grid-two p {
  font-size: 15px;
  font-weight: 400;
  padding: 50px;

}


@media (max-width: 700px) {
  .grid-two p {
   font-size: 15px;
   padding: 20px;
   padding-right: 30px !important;
   text-align: left;

  }
}


.grid-three {
  display: flex;
  grid-row: 2 / span 2;
  grid-column: 1 /span 1;
  text-align: center;
  align-items: center;
  justify-content: center;
  padding:50px;
  font-size: 12px;
  font-weight: 200;

}

@media (max-width: 700px) {
  .grid-three {
   font-size: 10px;

  }
}

.container-two {
    display: grid;
    grid-template-columns: 8fr 5fr;
    grid-template-rows: 2.5fr 1.5fr;
    height: 100vh;
    text-decoration: none;
    font-size: 50px;
    font-weight: 700;
    color: white;
    text-decoration: none;
    margin: 20px;
    grid-row-gap: 20px;
    grid-column-gap: 20px;

 }

 @media (max-width: 700px) {
  .container-two {
   grid-template-columns: 2fr 1.5fr;
   grid-template-rows: 1.5fr 0.5fr;
   font-size: 30px;
   height: 80vh;
   grid-row-gap: 8px;
   grid-column-gap: 8px;
   margin: 8px;


  }
}

.container-two a {
  text-decoration: none;
}

.group-one {
  display: flex;
  grid-row: 1 / span 1;
  grid-column: 1 / span 1;
  background-color: #F5E2C8;
  text-align: center;
  align-items: center;
  justify-content: center;
  height: 100%;
  font-weight: 600;
  color: white;

}

.group-one , .group-two , .group-three , .group-four {
  transition: all .2s ease-in-out;
}

.group-one:hover , .group-two:hover , .group-three:hover , .group-four:hover {
  transform: scale(1.1);
}


.group-two {
  display: flex;
  grid-row: 1 / span 1;
  grid-column: 2 / span 2;
  background-color:#f88379;
  text-align: center;
  align-items: center;
  justify-content: center;
  height: 100%;
  color: white !important;

}

 @media (max-width: 700px) {
  .group-two {
  padding: 10px;

  }
}

.group-three {
  display: flex;
  grid-row: 2 / span 2;
  grid-column: 1 / span 1;
  background-color: #f88379;
  text-align: center;
  align-items: center;
  justify-content: center;
  height: 100%;
  color: white !important;
}
 @media (max-width: 700px) {
  .group-three {
  padding: 10px;

  }
}

.group-four {
  display: flex;
  grid-row: 2 / span 2;
  grid-column: 2 / span 2;
  background-color: #F5E2C8;
  text-align: center;
  align-items: center;
  justify-content: center;
  height: 100%;
  font-size: 15px;
  color: white !important;
  cursor: pointer;
}







