<%= partial "layouts/navbar-two" %>


<div class = "video-container">
  <div class = "row">
  <h1 id= "title">Websites.</h1>

  <div class = "col-xs-12 " id = "website-class" >
    <video src="http://res.cloudinary.com/dsvnlo5ja/video/upload/v1544585085/dasda.mov
  " width="600" height="600" preload="auto" autoplay muted loop></video>
    <div id = "website-text">
      <h2> UCHOOSE </h2>
      <img src="http://res.cloudinary.com/dsvnlo5ja/image/upload/v1544756232/noun_purpose_1897744.png" width = "50px" height = "50px">
      <p>Help high school students make an informed decision about future US university</p>
      <img src="http://res.cloudinary.com/dsvnlo5ja/image/upload/v1544756232/noun_fairy_tale_933080.png" width = "50px" height = "50px">
      <p id= "small-text">This is my group’s final project at Le Wagon. Chinese high school students rarely have the chance to connect directly to university students at their desired colleges. This website built this bridge, so high school students can know more about their target schools by video chat with real university students and university students can gain some income from such opportunities. </p>
      <img src="http://res.cloudinary.com/dsvnlo5ja/image/upload/v1544756232/noun_User_role_281793.png" width = "50px" height = "50px">
      <p>Lead front-end designer</p>
    </div>
  </div>

  <div class = "col-xs-12" id = "website-class" >
    <video src="http://res.cloudinary.com/dsvnlo5ja/video/upload/v1544620934/parkit_420p.mov" width="600" height="600" preload="auto" autoplay muted loop></video>
    <div id = "website-text">
     <h2>PARK IT</h2>
     <img src="http://res.cloudinary.com/dsvnlo5ja/image/upload/v1544756232/noun_purpose_1897744.png" width = "50px" height = "50px">
     <p>Solving parking problem in busy cities.</p>
     <img src="http://res.cloudinary.com/dsvnlo5ja/image/upload/v1544756232/noun_fairy_tale_933080.png" width = "50px" height = "50px">
     <p >Park it is an app that uses the airbnb model. User can book parking space prior to their arrival, so they are guaranteed that they would have a parking space when they arrive at their destination.  Meanwhile, parking space owner can make their space available on Park it and make some profit. </p>
     <img src="http://res.cloudinary.com/dsvnlo5ja/image/upload/v1544756232/noun_User_role_281793.png" width = "50px" height = "50px">
     <p>Lead front-end designer</p>
    </div>
  </div>
 </div>

</div>


<div class= "artwork-container">
  <div class = "row">
      <h1 id = "title">Artworks.</h1>

    <div class="col-xs-12 col-md-6" id= "left">
    <img class = "artwork-photo" src="https://res.cloudinary.com/dsvnlo5ja/image/upload/v1544536855/GIT-10.png" >
    </div>
    <div class="col-xs-12 col-md-6" id= "right">
    <img class = "artwork-photo" src="https://res.cloudinary.com/dsvnlo5ja/image/upload/v1544536855/GIT-05.png">
    </div>
    <div class="col-xs-12 col-md-6" id= "left">
    <img class = "artwork-photo" src="https://res.cloudinary.com/dsvnlo5ja/image/upload/v1544536848/GIT-12.png" >
    </div>
    <div class="col-xs-12 col-md-6" id= "right">
    <img class = "artwork-photo" src="https://res.cloudinary.com/dsvnlo5ja/image/upload/v1544536856/GIT-13.png">
    </div>
    <div class="col-xs-12 col-md-6" id= "left">
    <img class = "artwork-photo" src="https://res.cloudinary.com/dsvnlo5ja/image/upload/v1544536859/GIT-04.png" >
    </div>
    <div class="col-xs-12 col-md-6" id= "right">
    <img class = "artwork-photo" src="https://res.cloudinary.com/dsvnlo5ja/image/upload/v1544540662/GIT-01-01.png">
    </div>

  </div>
</div>
