<%= partial "layouts/navbar-two" %>


<div class= "artwork-container">
  <div class = "row">
      <h1 id = "title">Artworks.</h1>

    <div class="col-xs-12 col-md-6" id= "left">
    <img class = "artwork-photo" src="https://res.cloudinary.com/dsvnlo5ja/image/upload/v1544536855/GIT-10.png" >
    </div>
    <div class="col-xs-12 col-md-6" id= "right">
    <img class = "artwork-photo" src="https://res.cloudinary.com/dsvnlo5ja/image/upload/v1544536855/GIT-05.png">
    </div>
    <div class="col-xs-12 col-md-6" id= "left">
    <img class = "artwork-photo" src="https://res.cloudinary.com/dsvnlo5ja/image/upload/v1544536848/GIT-12.png" >
    </div>
    <div class="col-xs-12 col-md-6" id= "right">
    <img class = "artwork-photo" src="https://res.cloudinary.com/dsvnlo5ja/image/upload/v1544536856/GIT-13.png">
    </div>
    <div class="col-xs-12 col-md-6" id= "left">
    <img class = "artwork-photo" src="https://res.cloudinary.com/dsvnlo5ja/image/upload/v1544536859/GIT-04.png" >
    </div>
    <div class="col-xs-12 col-md-6" id= "right">
    <img class = "artwork-photo" src="https://res.cloudinary.com/dsvnlo5ja/image/upload/v1544540662/GIT-01-01.png">
    </div>





  </div>
</div>
