<div class="navbar-fixed-top">
<%= partial "layouts/navbar" %>
</div>



    <div class="home-banner" >
      <div class= "stuff">
        <h1>Hello,</h1>
        <h1>I am Thomas.</h1>
      </div>

      <img src="https://res.cloudinary.com/dsvnlo5ja/image/upload/v1544533100/noun_Face_1877555_FFFFFF.png" id= "face-image">
    </div>



 <div class="Menu">
      <ul class="Menu-list" data-offset="10">
        <li class="Menu-list-item" data-offset="20" onclick>
          Home
          <span class="Mask"><span>Home</span></span>
          <span class="Mask"><span>Home</span></span>
        </li>
        <li class="Menu-list-item" data-offset="16" onclick>
          About
          <span class="Mask"><span>About</span></span>
          <span class="Mask"><span>About</span></span>
        </li>
        <li class="Menu-list-item" data-offset="12" onclick>
          Work
          <span class="Mask"><span>Work</span></span>
          <span class="Mask"><span>Work</span></span>
        </li>
        <li class="Menu-list-item" data-offset="8" onclick>
          Contact
          <span class="Mask"><span>Contact</span></span>
          <span class="Mask"><span>Contact</span></span>
        </li>
      </ul>
    </div>


<div class= "artwork-container">
  <div class = "row">
    <div class="col-xs-12 col-md-4" id= "photography">
    <h1>Photography</h1>
    </div>
    <div class="col-xs-12 col-md-8" id= "website">
    <h1>Websites</h1>
    </div>



  </div>
</div>





