<div class="navbar-fixed-top">
<%= partial "layouts/navbar" %>
</div>


<div class="home-banner" >
  <div class= "stuff">
    <h1>Hello,</h1>
    <h1>I am Thomas.</h1>
  </div>

  <img src="https://res.cloudinary.com/dsvnlo5ja/image/upload/v1544533100/noun_Face_1877555_FFFFFF.png" id= "face-image">
</div>

<div class = "container-one" >




      <div class = "grid-one">
        <h2>About me</h2>
      </div>
      <div class = "grid-two">
        <p>Born in Shanghai, studied in China, UK and now USA. Currently a student at NYU. Have strong passions for design, football(soccer whatever) and road cycing. In recent months, I have developed my skills in coding and is now specialized in front-end design. I am interested in any projects that invovles front-end tasks:) Feel free to contact me any time! </p>
      </div>
      <div class = "grid-three">
        <p>All photography works in the photgraphy sections are by myself.</p>
      </div>


</div>



<div class = "container-two" >

  <a href="/artwork.html"><div class = "group-one">Projects</div></a>
  <a href="/photography.html"><div class = "group-two">Photography</div></a>
  <a href="/contact.html"><div class = "group-three">Contact</div></a>
  <a href="/website.html"><div class = "group-four">More coming soon.</div></a>

</div>





