<div class="navbar-fixed-top">
<%= partial "layouts/navbar" %>
</div>



    <div class="home-banner" >
      <div class= "stuff">
        <h1>Hello,</h1>
        <h1>I am Thomas.</h1>
      </div>

      <img src="https://res.cloudinary.com/dsvnlo5ja/image/upload/v1544533100/noun_Face_1877555_FFFFFF.png" id= "face-image">
    </div>



  </div>
</div>





