<%= partial "layouts/navbar-two" %>

<p id = "warn">For better viewing experience on phone, please rotate your phone vertically for this page</p>
<div class = "photography-text-container">
  <h1>Advancing or Rollback </h1>
  <div class = "text-p-container">
    <p>As official reports suggests, the atmosphere will warm up by as much as 2.7 degrees Fahrenheit (1.5 degrees Celsius) above preindustrial levels by 2040. Are we facing a darker future, have we done enough to prevent climate change and pollution? This series illustrates an black and white world if we keep  all the pollution coming.</p>
  </div>
</div>
<div class="grid">
  <div class="item" style="background-image: url(http://res.cloudinary.com/dsvnlo5ja/image/upload/v1544579675/DSC05357.jpg)"></div>

  <div class="item" style="background-image: url(http://res.cloudinary.com/dsvnlo5ja/image/upload/v1544579684/DSC06049.jpg)"></div>

  <div class="item" style="background-image: url(http://res.cloudinary.com/dsvnlo5ja/image/upload/v1544579681/DSC05423.jpg)"></div>

  <div class="item" style="background-image: url(http://res.cloudinary.com/dsvnlo5ja/image/upload/v1544579692/DSC05443.jpg)"></div>

  <div class="item" style="background-image: url(http://res.cloudinary.com/dsvnlo5ja/image/upload/v1544579694/DSC04962.jpg)"></div>
</div>

<div class = "photography-text-container">
  <h1>Softer </h1>
  <div class = "text-p-container">
    <p>Enjoy a weekend away perhaps? There is a lot more nature to be explored! The other side of your city might have a compeletly different view waiting for you to be discovered.</p>
  </div>
</div>

<div class="grid">
  <div class="item" style="background-image: url(http://res.cloudinary.com/dsvnlo5ja/image/upload/v1544581143/DSC04976.jpg)"></div>

  <div class="item" style="background-image: url(http://res.cloudinary.com/dsvnlo5ja/image/upload/v1544581142/DSC05187.jpg)"></div>

  <div class="item" style="background-image: url(http://res.cloudinary.com/dsvnlo5ja/image/upload/v1544581138/DSC05168.jpg)"></div>

  <div class="item" style="background-image: url(http://res.cloudinary.com/dsvnlo5ja/image/upload/v1544581129/224B1006-EE2B-4DE3-AA3E-F5C0675D6F07.jpg)"></div>

  <div class="item" style="background-image: url(http://res.cloudinary.com/dsvnlo5ja/image/upload/v1544581139/DSC05096.jpg)"></div>
</div>

<div class = "photography-text-container">
  <h1>Love for cycling </h1>
  <div class = "text-p-container">
    <p>First time a major cycling event coming to my home-town Shanghai. It is the tour de france criterium, and it was one of the best cycling scene I have seen in Shanghai.</p>
  </div>
</div>

<div class="grid">
  <div class="item" style="background-image: url(https://res.cloudinary.com/dsvnlo5ja/image/upload/v1545120738/DSC_0282.jpg)"></div>

  <div class="item" style="background-image: url(https://res.cloudinary.com/dsvnlo5ja/image/upload/v1545120761/DSC_0211.jpg)"></div>

  <div class="item" style="background-image: url(https://res.cloudinary.com/dsvnlo5ja/image/upload/v1545120744/DSC_0194.jpg)"></div>

  <div class="item" style="background-image: url(https://res.cloudinary.com/dsvnlo5ja/image/upload/v1545120718/DSC_0352.jpg)"></div>

  <div class="item" style="background-image: url(https://res.cloudinary.com/dsvnlo5ja/image/upload/ar_16:9,c_fill,g_auto,e_sharpen/v1545121017/DSC_0371.jpg)"></div>
</div>
