<%= partial "layouts/navbar-two" %>

<div class = "oneoone">
  <h1 id = "apology">Sorry, nothing here...</h1>
  <img src="http://res.cloudinary.com/dsvnlo5ja/image/upload/v1545034429/noun_Koala_Bear_2021138_1.png" height="500" width="500">
</div>
